.main_container {
  width: 90%;
  height: 600px;
  border: 1px black double;
  border-radius: 10px;
  margin-top: 3%;
  margin-left: 5%;
  overflow: auto;
}

.imgDiv {
  margin-top: 1%;
  width: 30%;
  margin-left: 2.5%;
  position: relative;
  display: inline-table;
}

.imgDiv > img {
  width: 100%;
  heigth: 100%;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progressBar {
  margin-left: 5%;
  margin-top: 1%;
  text-align: center;
  width: 90%;
  height: 60px;
  border-radius: 5px;
  border: 1px brown double;
}

.bar2 {
  background-color: darkcyan;
  margin: 4px;
  height: 52px;
  border-radius: 3px;
}

button {
  margin-top: 1%;
  float: right;
  margin-right: 5%;
  width: 104px;
  height: 52px;
  background-color: azure;
  border-radius: 4px;
}
button:hover {
  background-color: antiquewhite;
  border-radius: 4px;
}
