<input type="file" (change)="handelInputFiles($event.target.files)" accept="image/gif, image/jpeg, image/png" multiple>
<div style="text-align: center;"><a href="/{{videoResponse}}" target="_blank" *ngIf="videoResponse">{{videoResponse}}</a></div>
<div class="main_container">
  <div *ngIf="!uploadingProgressing && uploadDone">
    <div class="imgDiv" *ngFor="let img of uploadResponse['gallary']">
      <ngx-image-zoom [thumbImage]="'/thumbnail/'+img.filename" [fullImage]="'/'+img.filename"></ngx-image-zoom>
    </div>
  </div>
</div>
<div class="progressBar" *ngIf="uploadingProgressing">
  <div style="position: absolute;z-index:999;padding-top: 2%;width: 100%;">{{uploadProgress + 0.85}}%</div>
  <div class="bar2" [ngStyle]="{'width': uploadProgress + '%'}">
  </div>
</div>
<div class="progressBar" *ngIf="videoProcessing">
  <div style="position: absolute;z-index:999;padding-top: 2%;width: 100%;">{{videoProgress}}%</div>
  <div class="bar2" [ngStyle]="{'width': videoProgress + '%'}">
  </div>
</div>
<div class="loader" style="margin-top: 1%; margin-left: 50%;" *ngIf="waitForProgress"></div>
<button (click)="generateVideo()" *ngIf="uploadDone && !uploadingProgressing && !videoProcessing && !waitForProgress && !videoDone">Submit</button>
